<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JdbcTestMapper">
    <resultMap type="board" id="boardMap">
        <!-- <id column="no" property="no"/> -->
        <!-- <result column="title" property="title"/> -->
        <result column="conts" property="contents"/>
        <result column="regdt" property="createdDate"/>
        <result column="vwcnt" property="viewCount"/>
    </resultMap>
    <select id="findAll" resultMap="boardMap">
        select 
        no, 
        title, 
        regdt <!-- as createdDate -->, 
        vwcnt <!-- viewCount --> 
        from jdbc_test
    </select>
    
    <insert id="insert" parameterType="boardMap">
        insert into jdbc_test(title,conts,regdt) values(#{title},#{contents},now())
    </insert>
    
    <update id="update" parameterType="boardMap">
        update jdbc_test set title=#{title}, conts=#{contents} where no=#{no}
    </update>
    
    <delete id="delete" parameterType="int">
        delete from jdbc_test where no=#{value}
    </delete>
    
    <select id="findByNo" resultMap="boardMap" parameterType="int">
        select 
        no, 
        title, 
        conts contents,
        regdt <!-- as createdDate -->, 
        vwcnt <!-- viewCount --> 
        from jdbc_test where no=#{value}
    </select>
    <update id="plusViewCount" parameterType="int">
        update jdbc_test set vwcnt=vwcnt+1 where no=#{value}
    </update>
</mapper>