<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 다른 파일에 있는 SQL문과 구분하기 위한 그룹명이다. -->
<mapper namespace="JdbcTestMapper">
	<delete id="delete" parameterType="int">
		delete from jdbc_test where #{value}
	</delete>
	<insert id="insert" parameterType="map">
		insert into jdbc_test(title,conts,regdt) values('#{title}','#{conts}',now())
	</insert>
    <select id="selectAll" resultType="map">
    select * from jdbc_test
    </select>
</mapper>  